* {
  font-size: 18px;
}

html {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('dog_background.jpg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  color: white;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 600;
}

h2 {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  width: 80%;
  margin: 19px auto 0 auto;
}

.form_background {
  width: min(60%, 1000px);
  height: auto;
  background-color: rgba(89, 89, 89, 0.9);
  margin: 0 auto 52px auto;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
}

form {
  font-family: 'Roboto', sans-serif;
  width: 70%;
  margin: 0 auto;
  display: inline-block;
  text-align: left;
}

input.text, select {
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 0.9rem;
  height: 40px;
  width: 100%;
  border: none;
  border-radius: 5px;
  margin: 10px 0;
}

label, p {
  text-align: left;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  padding: 20px 0 0 0;
}

.required::after {
  content: '*';
}

input.radio {
  width: 26px;
  font-family: 'Roboto', sans-serif;
  height: 26px;
  margin: 0px 14px;
  position: relative;
  top: 7px;
}

input.text:focus, textarea:focus {
  outline: none;
  border-color: #0969b5;
  box-shadow: 0 0 10px #0969b5;
}

select:focus {
  outline: none;
}

input.checkbox {
  font-family: 'Roboto', sans-serif;
  width: 22px;
  height: 22px;
  margin: 0px 14px;
  position: relative;
  top: 5px;
}

textarea {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  border: none;
  resize: vertical;
  height: 140px;
  border-radius: 5px;
  font-size: 0.9rem;
}

.container {
  padding: 56px 0;
}

.box {
  padding: 46px 0 0 0;
}

.sub_btn {
  padding: 0 0 46px 0;
}

.submit {
  display: block;
  margin: 0 auto;
  width: 50%;
  height: 50px;
  border: none;
  background-color: white;
  color: rgb(89, 89, 89);
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
}

.submit, input.checkbox, input.radio, select {
  cursor: pointer;
}

/* formating for bigger screens */

@media only screen and (min-width: 1600px) {

  input.text, select {
    margin: 10px 0;
    font-size: 0.9rem;
    height: 40px;
  }

  h1 {
    font-size: 3.6rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  .submit {
    height: 60px;
    width: 40%;
    font-size: 1.1rem;
    font-weight: 500;
  }

  .box{
  padding-top: 54px;
  }

  p {
    padding-top: 19px;
  }

  .container {
    padding: 54px 0;
  }
}

/* formating for tabet and mobile devices */

@media only screen and (max-width: 1050px) and (min-width: 700px) {

  h1 {
    font-size: 3.2rem;
  }

  h2 {
    font-size: 1.1rem;
  }

  .submit {
    height: 6vh;
    font-size: 2vh;
  }

}

@media only screen and (max-width: 699px) and (min-width: 450px) {

  input.text, select {
    height: 3vh;
    font-size: 1vh;
  }

  label, p {
    padding: 0.5vw 0 0 0;
  }

  .box {
    padding: 2vh 0 0 0;
    height: auto;
  }

  input.radio {
    height: 2vh;
    top: 6px;
  }

  input.checkbox {
    height: 1.5vh;
    top: 0;
  }

  textarea {
    height: 10vh;
    font-size: 1.2vh;
  }

  .container {
    padding: 3vh 0;
  }

  .sub_btn {
    padding: 0 0 3vh 0;
  }

  .submit {
    height: 4vh;
    font-size: 1.2vh;
  }

}

@media only screen and (max-width: 449px) {

  .form_background {
    width: 90%;
  }

  form {
    width: 80%;
  }

  h1 {
    font-size: 5vh;
  }

  h2 {
  font-size: 2.6vh;
  }

  label, p {
    font-size: 2.3vh;
  }

  input.text, select {
    height: 4vh;
    font-size: 2vh;
    margin: 2vh 0 3vh 0;
  }

  br {
    height: 1vh;
  }

  input.radio {
    height: 8vh;
    width: 8vw;
    top: 22px;
  }

  h2 {
    width: 80%;
    margin: 1vh auto;
  }

  input.checkbox {
    height: 8vh;
    width: 8vw;
    top: 24px;
  }

  .box {
    margin-top: 5vh;
  }

  textarea {
    font-size: 2vh;
  }

  .container {
    padding: 7vh 0;
  }

  p {
    margin-top: 30px;
  }

}

/* formating for tablet and mobile in landscape */

@media only screen and (max-width: 1030px) and (min-width: 824px) and (orientation: landscape) {

    .form_background {
      width: 90%;
    }

    input.text, select{
      height: 6vh;
      font-size: 2.4vh;
      margin: 1vh 0 2vh 0;
    }

    input.radio {
      height: 5vh;
      width: 5vw;
      top: 8px;
    }

    input.checkbox{
      height: 5vh;
      width: 5vw;
      top: 8px;
    }

    .container {
      padding: 6vh 0 6vh 0;
    }

    textarea {
      height: 25vh;
      font-size: 2.5vh;
      font-size: 3vh;
    }

    .submit {
      height: 8vh;
      font-size: 3vh;
    }

    .box {
      padding: 6vh 0 4vh 0;
      margin-top: 2vh;
    }

    p {
      margin-top: 4vh;
    }

    label, p {
      font-size: 3vh;
    }

    h1 {
    font-size: 8vh;
    }

    h2 {
    font-size: 3.5vh;
    }

    input.text, select {
      font-size: 2.8vh;
    }

    .sub_btn {
      padding: 0 0 6vh 0;
    }
}

@media only screen and (max-width: 823px) and (orientation: landscape) {

  .form_background {
    width: 90%;
  }

  input.text, select{
    height: 7vh;
    font-size: 2.6vh;
    margin: 1vh 0 2vh 0;
  }

  input.radio {
    height: 8vh;
    width: 8vw;
    top: 8px;
  }

  input.checkbox{
    height: 8vh;
    width: 8vw;
    top: 8px;
  }

  .container {
    padding: 7vh 0 7vh 0;
  }

  textarea {
    height: 25vh;
    font-size: 2.5vh;
    font-size: 3vh;
  }

  .submit {
    height: 11vh;
    font-size: 5vh;
  }

  .box {
    padding: 7vh 0 7vh 0;
    margin-top: 2vh;
  }

  p {
    margin-top: 5vh;
  }

  label, p {
    font-size: 3.2vh;
  }

  h1 {
    font-size: 9vh;
  }

  h2 {
    font-size: 5vh;
  }

  input.text, select {
    font-size: 2.8vh;
  }

  .sub_btn {
    padding: 0 0 6vh 0;
  }
}
