* {
  font-size: 18px;
}

html {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('dog_background.jpg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  color: white;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 600;
}

h2 {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  width: 80%;
  margin: 19px auto 0 auto;
}

.form_background {
  width: min(60%, 1000px);
  height: auto;
  background-color: rgba(89, 89, 89, 0.9);
  margin: 0 auto 52px auto;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
}

form {
  font-family: 'Roboto', sans-serif;
  width: 70%;
  margin: 0 auto;
  display: inline-block;
  text-align: left;
}

input.text, select {
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 0.9rem;
  height: 40px;
  width: 100%;
  border: none;
  border-radius: 5px;
  margin: 10px 0;
}

label, p {
  text-align: left;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  padding: 20px 0 0 0;
}

.required::after {
  content: '*';
}

input.radio {
  width: 26px;
  font-family: 'Roboto', sans-serif;
  height: 26px;
  margin: 0px 14px;
  position: relative;
  top: 7px;
}

input.text:focus, textarea:focus {
  outline: none;
  border-color: #0969b5;
  box-shadow: 0 0 10px #0969b5;
}

select:focus {
  outline: none;
}

input.checkbox {
  font-family: 'Roboto', sans-serif;
  width: 22px;
  height: 22px;
  margin: 0px 14px;
  position: relative;
  top: 5px;
}

textarea {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  border: none;
  resize: vertical;
  height: 140px;
  border-radius: 5px;
  font-size: 0.9rem;
}

.container {
  padding: 56px 0;
}

.box {
  padding: 46px 0 0 0;
}

.sub_btn {
  padding: 0 0 46px 0;
}

.submit {
  display: block;
  margin: 0 auto;
  width: 50%;
  height: 50px;
  border: none;
  background-color: white;
  color: rgb(89, 89, 89);
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
}

.submit, input.checkbox, input.radio, select {
  cursor: pointer;
}

/* formating for bigger screens */

@media only screen and (min-width: 1600px) {

  input.text, select {
    margin: 10px 0;
    font-size: 0.9rem;
    height: 40px;
  }

  h1 {
    font-size: 3.6rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  .submit {
    height: 60px;
    width: 40%;
    font-size: 1.1rem;
    font-weight: 500;
  }

  .box{
  padding-top: 54px;
  }

  p {
    padding-top: 19px;
  }

  .container {
    padding: 54px 0;
  }
}

/* formating for tabet and mobile devices */

@media only screen and (max-width: 1050px) and (min-width: 700px) {

  h1 {
    font-size: 3.2rem;
  }

  h2 {
    font-size: 1rem;
  }

  .submit {
  height: 60px;
  }

  .form_background {
    width: 75%;
  }
}

@media only screen and (max-width: 699px) and (min-width: 450px) {

  input.text, select {
    height: 38px;
  }

  .submit {
    height: 60px;
  }

  .form_background {
    width: 75%;
  }
}

@media only screen and (max-width: 449px) {

  .form_background {
    width: 90%;
  }

  form {
    width: 80%;
  }
}
